<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.zhiyou100.mapper.HospitalMapper">
<!-- 
	<resultMap type="RegistrationInfor" id="RegistrationInforDoctotAndSection">
		<id column="medical_record" property="medical_record" />
		<result column="name" property="name"/>
		<result column="certificate_type" property="certificate_type"/>
		<result column="ID_num" property="ID_num"/>
		<result column="social_safe_num" property="social_safe_num"/>
		<result column="phone" property="phone"/>
		<result column="self_paying" property="self_paying"/>
		<result column="sex" property="sex"/>
		<result column="career" property="career"/>
		<result column="early_appointment" property="early_appointment"/>
		<result column="doctor_id" property="doctor_id"/>
		<result column="status" property="status"/>
		<result column="noted" property="noted"/>
		<result column="time" property="time"/>
		<result column="section_id" property="section_id"/>
		<result column="age" property="age"/>
		<result column="registration_fee" property="registration_fee"/>
		<association property="section" javaType="Section">
			<id column="id" property="id"/>
			<result column="seccp_num" property="seccp_num"/>
			<result column="secco_name" property="secco_name"/>
		</association>
		<association property="certificateType" javaType="CertificateType">
			<id column="cid" property="id"/>
			<result column="cname" property="name"/>
		</association>
		<association property="doctor" javaType="Doctor">
			<id column="did" property="id"/>
			<result column="d_name" property="name"/>
			<result column="dage" property="age"/>
			<result column="dcertificate_type" property="certificate_type"/>
			<result column="dID_num" property="ID_num"/>
			<result column="dphone" property="phone"/>
			<result column="dspecial_plane" property="special_plane"/>
			<result column="dsex" property="sex"/>
			<result column="dage" property="age"/>
			<result column="birther" property="birther"/>
			<result column="email" property="email"/>
			<result column="dsection_id" property="section_id"/>
			<result column="education" property="education"/>
			<result column="dnoted" property="noted"/>
			<result column="dtime" property="time"/>
		</association>
	</resultMap> -->

	<resultMap type="HospitalInfor" id="hospitalAndRegistrationInfor">
		<id column="medical_record" property="medical_record" />
		<result column="caregiver" property="caregiver"/>
		<result column="bed_id" property="bed_id"/>
		<result column="pay_the_deposit" property="pay_the_deposit"/>
		<result column="state_illness" property="state_illness"/>
		<association property="registrationInfor" javaType="RegistrationInfor">
			<id column="r_medical_record" property="medical_record" />
			<result column="name" property="name"/>
			<result column="certificate_type" property="certificate_type"/>
			<result column="ID_num" property="ID_num"/>
			<result column="social_safe_num" property="social_safe_num"/>
			<result column="phone" property="phone"/>
			<result column="self_paying" property="self_paying"/>
			<result column="sex" property="sex"/>
			<result column="career" property="career"/>
			<result column="early_appointment" property="early_appointment"/>
			<result column="doctor_id" property="doctor_id"/>
			<result column="status" property="status"/>
			<result column="noted" property="noted"/>
			<result column="time" property="time"/>
			<result column="section_id" property="section_id"/>
			<result column="age" property="age"/>
			<association property="section2" javaType="Section">
			<id column="id" property="id"/>
			<result column="seccp_num" property="seccp_num"/>
			<result column="secco_name" property="secco_name"/>
			</association>
			<association property="certificateType" javaType="CertificateType">
				<id column="cid" property="id"/>
				<result column="cname" property="name"/>
			</association>
			<association property="doctor2" javaType="Doctor">
				<id column="did" property="id"/>
				<result column="d_name" property="name"/>
				<result column="dage" property="age"/>
				<result column="dcertificate_type" property="certificate_type"/>
				<result column="dID_num" property="ID_num"/>
				<result column="dphone" property="phone"/>
				<result column="dspecial_plane" property="special_plane"/>
				<result column="dsex" property="sex"/>
				<result column="dage" property="age"/>
				<result column="birther" property="birther"/>
				<result column="email" property="email"/>
				<result column="dsection_id" property="section_id"/>
				<result column="education" property="education"/>
				<result column="dnoted" property="noted"/>
				<result column="dtime" property="time"/>
			</association>
		</association>
	</resultMap>

	<select id="findAllHospital" resultMap="hospitalAndRegistrationInfor" parameterType="Map">
		select 
		h.medical_record,
		r.name,h.bed_id,
		r.phone,
		h.pay_the_deposit,
		d.name d_name,
		r.time,
		s.secco_name,
		r.status
		from 
		hospitalinfor h,
		doctor d,
		registrationinfor r,
		section s
		<where>
			<if test="medical_record != null and medical_record != '' ">
				h.medical_record like '%${medical_record}%' and 
			</if>
			<if test="doctor_name != null and doctor_name != '' ">
				d.doctor_name like '%${doctor_name}%' and 
			</if>
			<if test="section_name != null and section_name != '' ">
				s.section_name like '%${section_name}%' and 
			</if>
			<if test="startTime != null and startTime != '' ">
				r.time <![CDATA[<]]>  #{startTime} and 
			</if>
			<if test="endTime != null and endTime != '' ">
				r.time <![CDATA[>]]> #{endTime and 
			</if>
			h.medical_record = r.medical_record and 
			r.doctor_id = d.id and 
			r.section_id = s.id 
		</where>
	</select>
	
	<select id="findHospitalById" parameterType="String" resultMap="hospitalAndRegistrationInfor">
		select r.*,
		s.secco_name,
		d.name d_name,
		c.name cname 
		from 
		hospitalinfor h,
		certificatetype c,
		registrationinfor r,
		doctor d,
		section s 
		where  
		h.medical_record = r.medical_record and 
		c.id = r.certificate_type and 
		d.id = r.doctor_id and 
		s.id = r.section_id and
		h.medical_record = #{medical_record}
	</select>
	
	<select id="findHospitalOneById" parameterType="String" resultType="hospitalInfor">
		select * from hospitalinfor where medical_record = #{medical_record}
	</select>
	
	<insert id="insertHospital" parameterType="hospitalInfor">
		insert into hospitalinfor value (#{medical_record},#{caregiver},
		#{bed_id},#{pay_the_deposit},#{state_illness})
	</insert>
	
	<update id="updateHospitalById" parameterType="hospitalInfor">
		update hospitalinfor set caregiver=#{caregiver},bed_id=#{bed_id},
		pay_the_deposit=#{pay_the_deposit},state_illness=#{state_illness} 
		where medical_record=#{medical_record}
	</update>
	
	<update id="dischargeHospitalByid" parameterType="Map">
		update registrationinfor set 
		<if test=" status == '已挂号' or status == '已退号' ">
			status = "已退院",
		</if>
		medical_record =#{medical_record}
		where medical_record =#{medical_record}
	</update>
	
	<update id="leaveHospitalByid" parameterType="Map">
		update registrationinfor set 
		<if test=" status == '已挂号' or status == '已退号' or status == '已退院' ">
			status = "已出院",
		</if>
		medical_record =#{medical_record}
		where medical_record =#{medical_record}
	</update>
	
</mapper>